{% extends "template.html" %}

{% block body %}
<h1>{{ _('Tableau de bord') }}</h1>


<h2>
	{{ _('Mes groupes') }}
	<a href="{{ url_for('dashboard.teams') }}">
	({{ _('voir tout') }} &rarr;)
	</a>
</h2>
<ul>
	{% for team in g.user.get_teams() %}
		<li><a href="{{ url_for('team.index', tid=team.id)}}">{{ team.name }}</a></li>
	{% endfor %}
</ul>


<h2>{{ _('Mes dépenses (tous groupes confondus)') }}</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th>{{ _('Groupe') }}</th>
				<th>{{ _('Date') }}</th>
				<th>{{ _('Intitulé') }}</th>
				<th>{{ _('Montant') }}</th>
				<th>{{ _('Commentaire') }}</th>
			</tr>
		</thead>

		{% for exp in own_expenditures %}

			<tr class="{{ loop.cycle('pure-table-odd', '') }}">
				<td>{{ exp.get_team().name }}</td>
				<td>{{ exp.date }}</td>
				<td>{{ exp.title }}</td>
				<td>{{ exp.amount | round(2)  }} €</td>
				<td>{{ exp.comment }}</td>
			</tr>

		{% endfor %}

		<tr class="balance">
			<td colspan="3"><b>{{ _('Total') }}</b></td>
			<td><b class="negative">{{ total_spent | round(2) }} €</b></td>
			<td></td>
		</tr>

	</table>
</div>

<br>

<h2>{{ _('Mes transactions (crédits et débits, tous groupes confondus)') }}</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th>{{ _('Date') }}</th>
				<th>{{ _('Groupe') }}</th>
				<th>{{ _('Qui') }}</th>
				<th>{{ _('Crédit') }}</th>
				<th>{{ _('Débit') }}</th>
				<th>{{ _('Commentaire') }}</th>
			</tr>
		</thead>

		{% for transaction in own_transactions %}
			<tr>
				<td>{{ transaction.date }}</td>
				<td>{{ transaction.get_team().name }}</td>
				<td>
					{% if transaction.from_user == g.user.id %}
						{{ transaction.get_recipient_user().name }}
					{% else %} 
						{{ transaction.get_sender_user().name }}
					{% endif %}
				</td>
				<td class="positive">
					{% if transaction.to_user == g.user.id %}
						{{ transaction.amount | round(2) }} €
					{% endif %}
				</td>
				<td class="negative">
					{% if transaction.from_user == g.user.id %}
						{{ transaction.amount | round(2) }} €
					{% endif %}
				</td>
				<td>{{ transaction.comment }}</td>
			</tr>
		{% endfor %}

		<tr class="balance">
			<td colspan="3"></td>
			<td><b class="positive">{{ total_received | round(2) }}  €</b></td>
			<td><b class="negative">{{ total_sent | round(2) }} €</b></td>
			<td></td>
		</tr>

		<tr class="balance">
			<td colspan="3">{{ _('Total') }}</td>
			<td colspan="2">
				<b>
					{{ transactions_balance | round(2) }} €
				</b>
			</td>
			<td></td>
		</tr>

	</table>
</div>

<br>

<h2>{{ _('Totaux (tous groupes confondus)') }}</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>{{ _('Crédit') }}</th>
				<th>{{ _('Débit') }}</th>
			</tr>
		</thead>

		<tr class="balance">
			<td>{{ _('Dépenses') }}</td>
			<td>&mdash;</td>
			<td><b class="negative">{{ total_spent | round(2) }} €</b></td>
		</tr>

		<tr class="balance">
			<td>{{ _('Transactions') }}</td>
			<td><b class="positive">{{ total_received | round(2) }} €</b></td>
			<td><b class="negative">{{ total_sent | round(2) }} €</b></td>
		</tr>
		<tr class="balance">
			<td>{{ _('Total') }}</td>
			<td colspan="2">
				<b>
					{{ balance | round(2) }} €
				</b>
			</td>
		</tr>

	</table>
</div>


{% endblock %}