{% extends "template.html" %}

{% block body %}
<h1>Tableau de bord</h1>


<h2>Mes groupes <a href="{{ url_for('dashboard.teams') }}">(voir tout &rarr;)</a></h2>
<ul>
	{% for team in g.user.get_teams() %}
		<li><a href="{{ url_for('team.index', tid=team.id)}}">{{ team.name }}</a></li>
	{% endfor %}
</ul>


<h2>Mes dépenses (tous groupes confondus)</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th>Groupe</th>
				<th>Date</th>
				<th>Intitulé</th>
				<th>Montant</th>
				<th>Commentaire</th>
			</tr>
		</thead>

		{% for exp in own_expenditures %}

			<tr class="{{ loop.cycle('pure-table-odd', '') }}">
				<td>{{ exp.get_team().name }}</td>
				<td>{{ exp.date }}</td>
				<td>{{ exp.title }}</td>
				<td>{{ exp.amount | round(2)  }} €</td>
				<td>{{ exp.comment }}</td>
			</tr>

		{% endfor %}

		<tr class="balance">
			<td colspan="3"><b>Total</b></td>
			<td><b class="negative">{{ total_spent | round(2) }} €</b></td>
			<td></td>
		</tr>

	</table>
</div>

<br>

<h2>Mes transactions (crédits et débits, tous groupes confondus)</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Groupe</th>
				<th>Qui</th>
				<th>Crédit</th>
				<th>Débit</th>
				<th>Commentaire</th>
			</tr>
		</thead>

		{% for transaction in own_transactions %}
			<tr>
				<td>{{ transaction.date }}</td>
				<td>{{ transaction.get_team().name }}</td>
				<td>
					{% if transaction.from_user == g.user.id %}
						{{ transaction.get_recipient_user().name }}
					{% else %} 
						{{ transaction.get_sender_user().name }}
					{% endif %}
				</td>
				<td class="positive">
					{% if transaction.to_user == g.user.id %}
						{{ transaction.amount | round(2) }} €
					{% endif %}
				</td>
				<td class="negative">
					{% if transaction.from_user == g.user.id %}
						{{ transaction.amount | round(2) }} €
					{% endif %}
				</td>
				<td>{{ transaction.comment }}</td>
			</tr>
		{% endfor %}

		<tr class="balance">
			<td colspan="3"></td>
			<td><b class="positive">{{ total_received | round(2) }}  €</b></td>
			<td><b class="negative">{{ total_sent | round(2) }} €</b></td>
			<td></td>
		</tr>

		<tr class="balance">
			<td colspan="3">Total</td>
			<td colspan="2">
				<b>
					{{ transactions_balance | round(2) }} €
				</b>
			</td>
			<td></td>
		</tr>

	</table>
</div>

<br>

<h2>Totaux (tous groupes confondus)</h2>
<div class="responsive-table-container">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Crédit</th>
				<th>Débit</th>
			</tr>
		</thead>

		<tr class="balance">
			<td>Dépenses</td>
			<td>&mdash;</td>
			<td><b class="negative">{{ total_spent | round(2) }} €</b></td>
		</tr>

		<tr class="balance">
			<td>Transactions</td>
			<td><b class="positive">{{ total_received | round(2) }} €</b></td>
			<td><b class="negative">{{ total_sent | round(2) }} €</b></td>
		</tr>
		<tr class="balance">
			<td>Total</td>
			<td colspan="2">
				<b>
					{{ balance | round(2) }} €
				</b>
			</td>
		</tr>

	</table>
</div>


{% endblock %}