{% extends "template.html" %}

{% block body %}
<h1>Groupes</h1>

<h2>Mes groupes</h2>
<table class="pure-table responsive-table-container">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Membres</th>
		</tr>
	</thead>

	{% for team in g.user.get_teams() %}

		<tr class="{{ loop.cycle('pure-table-odd', '') }}">
			<td><a href="{{ url_for('team.index', tid=team.id) }}"><b>{{ team.name }}</b></a></td>
			<td>{{ team.description }}</td>
			<td>
				{% for user in team.get_users() %}
					{{ user.name }}<br>
				{% endfor %}
			</td>
		</tr>

	{% endfor %}

</table>

<br>

<h2>Créer un nouveau groupe</h2>
<p>Vous serez automatiquement ajouté au groupe. Vous pourrez ensuite ajouter des utilisateurs.</p>
{% if error_team_exists %}
	<div class="error"><b>Erreur</b>, un groupe avec ce nom existe déjà</div>
{% endif %}
<form class="pure-form pure-form-aligned" action="{{ url_for('team.add') }}" method="post">

	<div class="pure-control-group">
		<label>Nom du groupe</label>
		<input type="text" name="name" required>
	</div>
	<div class="pure-control-group">
		<label>Description du groupe</label>
		<input type="text" name="description" placeholder="(facultatif)">
	</div>

	<div class="pure-control-group">
		<label></label>
		<input type="submit" value="Créer &rarr;" class="pure-button pure-button-primary">
	</div>
</form>



{% endblock %}