{% extends "template.html" %}

{% block body %}

<h1>{{ _('Connexion ou inscription') }}</h1>
<form class="pure-form pure-form-aligned" action="?" method="post">

	<div class="pure-control-group">
		<label>
			{% if step2 %}
				{% if newuser %}
					{{ _('Inscription') }}
				{% else %}
					{{ _('Connexion') }}
				{% endif %}
			{% else %}
				{{ _('Bienvenue') }}
			{% endif %}
		</label>
		<input {% if not step2 %}autofocus{% endif %} 
			type="text" 
			value="{% if step2 %}{{ name }}{% endif %}"
			name="name" 
			required
			placeholder="{{ _('Identifiant') }}">
	</div>

	{% if step2 %}
	<div class="pure-control-group">
		<label>
			{% if newuser %}
				<b>{{ _('Choisissez un mot de passe') }}</b>
			{% else %}
				<b>{{ _('Entrez votre mot de passe') }}</b> 
				{% if error %}
					<div class='error'>
						{{ _('Erreur, essayez à nouveau') }}
					</div>
				{% endif %}
			{% endif %}
		</label>
		<input {% if step2 %}autofocus{% endif %} type="password" name="password" placeholder="{{ _('Mot de passe') }}" required>
	</div>
	{% endif %}


	<div class="pure-control-group">
		<label></label>
		<input type="submit" value="{{ _('Suivant') }} &rarr;" class="pure-button pure-button-primary">
	</div>
</form>

{% endblock %}