{% extends "template.html" %}

{% block body %}

<h1>Connexion ou inscription</h1>
<form class="pure-form pure-form-aligned" action="?" method="post">

	<div class="pure-control-group">
		<label>
			{% if step2 %}
				{% if newuser %}
					Inscription
				{% else %}
					Connexion
				{% endif %}
			{% else %}
				Login
			{% endif %}
		</label>
		<input {% if not step2 %}autofocus{% endif %} 
			type="text" 
			value="{% if step2 %}{{ name }}{% endif %}"
			name="name" 
			required
			placeholder="Login">
	</div>

	{% if step2 %}
	<div class="pure-control-group">
		<label>
			{% if newuser %}
				<b>Choisissez</b> un mot de passe
			{% else %}
				<b>Entrez votre mot de passe</b> 
				{% if error %}
					<div class='error'>Erreur, essayez à nouveau</div>
				{% endif %}
			{% endif %}
		</label>
		<input {% if step2 %}autofocus{% endif %} type="password" name="password" placeholder="Password" required>
	</div>
	{% endif %}


	<div class="pure-control-group">
		<label></label>
		<input type="submit" value="Suivant &rarr;" class="pure-button pure-button-primary">
	</div>
</form>

{% endblock %}