<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pure-min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>

		<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="{{ url_for('index') }}">DEPENSES</a>

			<ul class="pure-menu-list">
				
				{% if g.user %}
					<li class="pure-menu-item pure-menu-selected">
						<a href="{{ url_for('team.index') }}" class="pure-menu-link">Dépenses</a>
					</li>

					<li class="pure-menu-item pure-menu-selected">
						<a href="{{ url_for('team.list') }}" class="pure-menu-link">Groupes</a>
					</li>
		 
					<li class="pure-menu-item">
						
						<a href="{{ url_for('user.logout') }}" class="pure-menu-link"> &rarr;[] ({{ g.user.name }}) </a>
					</li>

				{% else %}
					<li class="pure-menu-item"><a href="{{ url_for('user.login') }}" class="pure-menu-link">Connexion</a></li>
				{% endif %}
				
			</ul>
		</div>
	</header>
	{% block body_fullwidth %}{% endblock %}

	<div class="content">
		{% block body %}{% endblock %}
	</div>

	<div class="footer">
		<div class="legal pure-g">
			<div class="pure-u-1 u-sm-1-2">
				<p class="legal-license">
					Made with <a href="http://flask.pocoo.org">Flask</a> and PureCSS<br>
					Licenced under GPLv3<br>
					Yann Pellegrini - <a href="https://yann-p.fr">yann-p.fr</a>
				</p>
			</div>
		
		</div>
	</div>
</body>
</html>
